[Hangul]
# Keyboard Layout
# 가능한 값:
# Dubeolsik
# Dubeolsik Yetgeul
# Sebeolsik 390
# Sebeolsik Final
# Sebeolsik Noshift
# Sebeolsik Yetgeul
# Sebeolsik Dubeol Layout
# Romaja
# Ahnmatae
#Keyboard=Dubeolsik
# Hanja Mode Toggle Key
#HanjaModeToggleKey=HANGULHANJA F9
# Auto Reorder
# 가능한 값:
# True False
#AutoReorder=True
# Word Commit
# 가능한 값:
# True False
#WordCommit=False
# Hanja Mode
# 가능한 값:
# True False
#HanjaMode=False

